In [1]:
import pandas as pd

In [75]:
savoir_export = 'data/Export_INT_GC1_MC2_RC3_S3_Full_AOI_DTID_GUANN_DEBUG.xlsx'

df = pd.read_excel(savoir_export)
if 'Unnamed: 0' in df:
    df.drop(columns='Unnamed: 0', inplace=True)
    
df.head()

,Start,End,Duration,Satellite,SensorMode,Width,Length,SwathArea,Pass,NW_Lat,...,Ground_User_Annotation,TAnx_integer,Phase,Drift,GCID,MCID,RCID,Track,ExtCal,Spare
0,2017-03-02 06:07:23.674,2017-03-02 06:09:37.671,133.997563,BIOMASS,Stripmap S3,45.726444,920.782773,42272.374464,ASCENDING,13.000248,...,11000010010001100000001000000000,92,3,0,1,2,3,1,0,0
1,2017-03-02 06:58:33.629,2017-03-02 06:59:05.629,32.000000,BIOMASS,Stripmap S3,46.066410,218.881989,10115.600647,DESCENDING,-14.108009,...,11000010010001100000001000000000,3162,3,0,1,2,3,1,0,0
2,2017-03-02 07:00:13.784,2017-03-02 07:00:45.784,32.000000,BIOMASS,Stripmap S3,45.972871,218.602453,10129.389672,DESCENDING,-20.193122,...,11000010010001100000001000000000,3262,3,0,1,2,3,1,0,0
3,2017-03-02 07:12:37.221,2017-03-02 07:26:17.822,820.601003,BIOMASS,Stripmap S3,47.620119,5547.133054,263829.938896,DESCENDING,-65.000080,...,11000010010001100000001000000000,4005,3,0,1,2,3,1,0,0
4,2017-03-02 08:33:54.289,2017-03-02 08:42:30.585,516.295486,BIOMASS,Stripmap S3,46.166360,3527.657239,163411.947057,DESCENDING,-3.748211,...,11000010010001100000010000000000,2991,3,0,1,2,3,2,0,0

In [76]:
orbit_duration = 3 * 86400 / 44

In [83]:
columns = ['Start', 'End', 'Duration', 'Anx', 'TAnx', 'next_anx', 'delta']
df['next_anx'] = df['Anx'] + pd.to_timedelta(orbit_duration, unit='s')
df['delta'] = (df['End'] - df['next_anx']).apply(lambda d: d.total_seconds())
df[ df['delta'] > 0 ][columns]

,Start,End,Duration,Anx,TAnx,next_anx,delta
6,2017-03-02 09:14:49.206,2017-03-02 09:24:04.133,554.926082,2017-03-02 07:44:02.496,5446.710479,2017-03-02 09:22:13.405090909,110.727909
15,2017-03-02 10:56:24.133,2017-03-02 11:01:04.078,279.945301,2017-03-02 09:22:13.477,5650.655895,2017-03-02 11:00:24.386090909,39.691909
42,2017-03-02 22:25:35.461,2017-03-02 22:28:21.455,165.994633,2017-03-02 20:49:30.348,5765.112724,2017-03-02 22:27:41.257090909,40.197909
50,2017-03-03 03:17:49.763,2017-03-03 03:31:31.487,821.723900,2017-03-03 01:44:03.292,5626.470807,2017-03-03 03:22:14.201090909,557.285909
52,2017-03-03 04:51:09.602,2017-03-03 05:04:11.416,781.814195,2017-03-03 03:22:14.274,5335.328212,2017-03-03 05:00:25.183090909,226.232909
63,2017-03-03 09:45:33.959,2017-03-03 09:58:04.136,750.177491,2017-03-03 08:16:47.218,5326.741021,2017-03-03 09:54:58.127090909,186.008909
92,2017-03-03 22:59:29.412,2017-03-03 23:20:18.096,1248.684159,2017-03-03 21:22:15.070,5834.341999,2017-03-03 23:00:25.979090909,1192.116909
101,2017-03-04 03:48:10.702,2017-03-04 04:04:16.208,965.506202,2017-03-04 02:16:48.015,5482.687070,2017-03-04 03:54:58.924090909,557.283909
119,2017-03-04 10:16:56.879,2017-03-04 10:30:33.813,816.934777,2017-03-04 08:49:31.941,5244.937641,2017-03-04 10:27:42.850090909,170.962909
161,2017-03-05 04:18:41.997,2017-03-05 04:33:43.698,901.701157,2017-03-05 02:49:32.737,5349.260420,2017-03-05 04:27:43.646090909,360.051909